{
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"project": ["./backend/tsconfig.json"],
		"ecmaVersion": 2021,
		"sourceType": "module"
	},
	"ignorePatterns": ["dist/", "node_modules/", "ormconfig.ts"],
	"plugins": ["@typescript-eslint", "prettier"],
	"extends": ["eslint:recommended", "plugin:prettier/recommended", "plugin:@typescript-eslint/recommended"],
	"rules": {
		"@typescript-eslint/no-var-requires": 0, // require 허용
		"linebreak-style": 0,
		"import/prefer-default-export": 0,
		"prettier/prettier": ["error", { "endOfLine": "auto" }],
		"import/extensions": 0,
		"no-use-before-define": 0,
		"import/no-unresolved": 0,
		"import/no-extraneous-dependencies": 0, // 테스트 또는 개발환경을 구성하는 파일에서는 devDependency 사용을 허용
		"no-shadow": 0,
		"no-var-requires": 0
	},
	"env": {
		"jest": true,
		"node": true
	}
}
